<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>NASEEM-AL-ROUDHA</title>

    <!-- Fav Icon -->
    <link rel="icon" href="assets/images/favicon-3.ico" type="image/x-icon">

    <!-- Stylesheets -->
    <link href="assets/css/font-awesome-all.css" rel="stylesheet">
    <link href="assets/css/flaticon.css" rel="stylesheet">
    <link href="assets/css/owl.css" rel="stylesheet">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/color.css" rel="stylesheet">
    <link href="assets/css/global.css" rel="stylesheet">
    <link href="assets/css/elpath.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

    <link href="assets/css/btnstyle.css" rel="stylesheet">

</head>


<!-- page wrapper -->

<body>


    <button class="cta" onclick="window.location.href='/service-02Arabic.html'">
        <span class="hover-underline-animation g_color_3"> Switch Language </span>
        <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
            <path transform="translate(30)" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" data-name="Path 10" id="Path_10"></path>
        </svg>
    </button>

    <div class="boxed_wrapper">


        <!-- mouse-pointer -->
        <div class="mouse-pointer display_none" id="mouse-pointer">
            <div class="icon"><i class="far fa-angle-left"></i><i class="far fa-angle-right"></i></div>
        </div>
        <!-- mouse-pointer end -->


        <!-- preloader -->
        <!-- <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">x</div>
                <div id="handle-preloader" class="handle-preloader service-details-2">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="a" class="letters-loading">
                                a
                            </span>
                            <span data-text-preloader="t" class="letters-loading">
                                t
                            </span>
                            <span data-text-preloader="r" class="letters-loading">
                                r
                            </span>
                            <span data-text-preloader="i" class="letters-loading">
                                i
                            </span>
                            <span data-text-preloader="x" class="letters-loading">
                                x
                            </span>
                        </div>
                    </div>  
                </div>
            </div>
        </div> -->
        <!-- preloader end -->


        <!--Search Popup-->
        <div id="search-popup" class="search-popup">
            <div class="popup-inner">
                <div class="upper-box clearfix">
                    <figure class="logo-box pull-left"><a href="index.html"><img src="assets/images/logo-16.png"
                                alt=""></a></figure>
                    <div class="close-search pull-right"><span class="icon-179"></span></div>
                </div>
                <div class="overlay-layer"></div>
                <div class="auto-container">
                    <div class="search-form">
                        <form method="post" action="index.html">
                            <div class="form-group">
                                <fieldset>
                                    <input type="search" class="form-control" name="search-input" value=""
                                        placeholder="Type your keyword and hit" required>
                                    <button type="submit"><i class="icon-1"></i></button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- sidebar cart item -->
        <div class="xs-sidebar-group info-group info-sidebar">
            <div class="xs-overlay xs-bg-black"></div>
            <div class="xs-sidebar-widget">
                <div class="sidebar-widget-container">
                    <div class="widget-heading">
                        <a href="#" class="close-side-widget"><i class="icon-179"></i></a>
                    </div>
                    <div class="sidebar-textwidget">
                        <div class="sidebar-info-contents">
                            <div class="content-inner">
                                <div class="logo">
                                    <a href="index.html"><img src="assets/images/logo-16.png" alt="" /></a>
                                </div>
                                <div class="text-box">
                                    <h4>About Atrix</h4>
                                    <p>Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod tempor incididunt
                                        labore magna aliqua enim minim veniam nostrud exercitation aboris nis aliquip
                                        exeo.</p>
                                </div>
                                <div class="info-inner">
                                    <h4>Find Us Our Location</h4>
                                    <ul class="info clearfix">
                                        <li><i class="icon-180"></i>629 12th St, Modesto, CA 95354 United States</li>
                                        <li><i class="icon-181"></i><a
                                                href="mailto:atrixmain@gmail.com">atrixmain@gmail.com</a></li>
                                        <li><i class="icon-182"></i><a href="tel:123045615523">+1 (230)-456-155-23</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="social-inner">
                                    <h4>Follow Us On</h4>
                                    <ul class="social-links clearfix">
                                        <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="index.html"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END sidebar widget item -->


        <!-- main header -->
        <header class="main-header header-style-two">
            <!-- header-lower -->
            <div class="header-lower">
                <div class="shape">
                    <div class="shape-1" style="background-image: url(assets/images/shape/shape-31.png);"></div>
                    <div class="shape-2" style="background-image: url(assets/images/shape/shape-32.png);"></div>
                </div>
                <div class="outer-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <figure class="logo"><a href="index-2.html"><img src="assets/images/UAE-Logo.svg"
                                        alt=""></a>
                            </figure>
                        </div>
                        <div class="menu-area clearfix">
                            <!--Mobile Navigation Toggler-->
                            <div class="mobile-nav-toggler">
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                                <i class="icon-bar"></i>
                            </div>
                            <nav class="main-menu navbar-expand-md navbar-light">
                                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                    <ul class="navigation clearfix home-menu">
                                        <li class="current dropdown"><a href="index-2.html">Home</a>

                                        </li>
                                        <li class="dropdown"><a href="about-2.html">About Us</a>
                                        </li>

                                        <li class="dropdown"><a href="services.html">Services</a>
                                        </li>


                                        <li class="dropdown"><a>IT Services</a>
                                            <ul>
                                                <li><a href="service-01.html">Computer Systems & Communication Equipment
                                                        Software Design </a></li>
                                                <li><a href="service-02.html">Education & Training Computer Software</a>
                                                </li>
                                                <li><a href="service-03.html">Social Media Applications Development &
                                                        Management</a></li>
                                                <li><a href="service-04.html">Marketing Services Via social media</a>
                                                </li>
                                                <li><a href="service-05.html">IT Infrastructure</a></li>
                                                <li><a href="service-06.html">Information Technology</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown"><a>Network Services</a>
                                            <ul>
                                                <li><a href="service-07.html">Computer Systems Housing Services</a></li>
                                            </ul>
                                        </li>


                                        <li class="dropdown"><a href="contactUs.html">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
         <!--sticky Header-->
         <div class="sticky-header">
            <div class="outer-container">
                <div class="outer-box">
                    <div class="logo-box">
                        <figure class="logo"><a href="index.html"><img src="assets/images/Navbar-Logo.svg  "
                                    alt=""></a>
                        </figure>
                    </div>
                    <div class="menu-area clearfix">
                        <nav class="main-menu clearfix">
                            <!--Keep This Empty / Menu will come through Javascript-->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        </header>
        <!-- main-header end -->


        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>

            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="assets/images/mobile-logo.png" alt="" title=""></a>
                </div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                </div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>Chicago 12, Melborne City, USA</li>
                        <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                        <li><a href="mailto:info@example.com">info@example.com</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="index.html"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-pinterest-p"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->


        <!-- Page Title -->
        <section class="page-title p_relative centred">
            <div class="bg-layer p_absolute l_0 parallax_none parallax-bg" data-parallax='{"y": 100}'
                style="background-image: url(assets/images/social.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1 class="d_block fs_60 lh_70 fw_bold mb_10">Educational and Training Software</h1>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- service-details -->
        <section class="service-details service-details-2 p_relative sec-pad">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                        <div class="service-sidebar p_relative d_block mr_30">
                            <div class="support-widget p_relative d_block pt_50 pr_30 pb_45 pl_30 centred b_radius_5 mb_60"
                                style="background-image: url(assets/images/phone.jpg);">
                                <div class="shape p_absolute r_0 b_0"
                                    style="background-image: url(assets/images/shape/shape-199.png);"></div>
                                <div class="content-box">
                                    <div
                                        class="icon-box p_relative d_iblock w_80 h_80 lh_85 text-center b_radius_50 fs_40 mb_20 z_1">
                                        <i class="icon-174"></i></div>
                                    <h3 class="d_block fs_24 lh_30 mb_13">Call Us Today!</h3>
                                    <h3 class="d_block fs_24 lh_30 fw_bold"><a href="tel:123045615523">+1
                                            (230)-456-155-23</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="service-details-content">
                            <div class="content-one p_relative d_block mb_65">
                                <div class="text p_relative d_block mb_60">
                                    <h2 class="d_block fs_40 fw_sbold lh_50 mb_25"> Educational and training softwares </h2><br />
                                    <p class="font_family_poppins mb_25"> Applications like distant learning, online training, and more specialized programs like equipment training and
                                    assistance use educational and training software..</p>
                                    <h2>Types of Software for Distance Learning</h2>
                                    <br>
                                    <h3>Software for distance learning</h3>
                                    <br>
                                    <p>Software for distance learning is a typical type of Web-based software. In order to give users knowledge and useful
                                    skills, this kind of educational and training software is frequently utilized by both locally approved schools and adult
                                    working students. A learning route with connected assignments and exams that are graded by a computer to give rapid
                                    feedback is frequently used.</p>
                                    <br>
                                    <h3>Training for Software Online</h3>
                                    <br>
                                    <p>Online software training is a tool that businesses can utilize to improve staff abilities. Sometimes referred to as
                                    computer-based training, this kind of software (CBT). "Task-based" CBT simulation is frequent. Examples might be
                                    instructing a worker on how to add new users to a network or providing commercial airline pilots with emergency
                                    simulations during flight.</p>
                                </div>
                                <div data-animation-box class="image-box">
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                            <figure data-animation-text
                                                class="overlay-anim-black-bg image p_relative d_block"
                                                data-animation="overlay-animation"><img
                                                    src="assets/images/socialmedia01.jpg" alt=""></figure>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                            <figure data-animation-text
                                                class="overlay-anim-black-bg image p_relative d_block"
                                                data-animation="overlay-animation"><img
                                                    src="assets/images/c3.jpg" alt=""></figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-two p_relative d_block mb_55">
                                <div class="tabs-box">
                                    <div class="tab-btn-box p_relative d_block mb_35">
                                        <ul class="tab-btns tab-buttons clearfix p_relative">
                                            <li class="tab-btn active-btn" data-tab="#tab-1">Plan Benefits</li>
                                            <li class="tab-btn" data-tab="#tab-2">Target Analysis</li>
                                        </ul>
                                    </div>
                                    <div class="tabs-content">
                                        <div class="tab active-tab" id="tab-1">
                                            <div class="text">
                                                <p class="font_family_poppins mb_25"><ul>
                                                    <li><strong>Flexibility in learning:</strong> Allows students to access the curriculum and learning materials from
                                                        anywhere at any time.</li>
                                                    <li><strong>Self-paced learning:</strong> Allows students to progress through the material at their own pace.</li>
                                                    <li><strong>Scalability:</strong> Can accommodate a large number of students and can easily be scaled up or down as
                                                        needed.</li>
                                                    <li><strong>Cost-effective:</strong> Can reduce the costs associated with traditional classroom learning such as
                                                        transportation and materials.</li>
                                                    <li><strong>Efficient:</strong> Automated grading and feedback systems can save time and resources for both teachers
                                                        and students.</li>
                                                    <li><strong>Interactivity:</strong> Interactive features such as simulations, games, and quizzes can make the
                                                        learning experience more engaging and effective.</li>
                                                </ul>
                                              
                                            </div>
                                        </div>
                                        <div class="tab" id="tab-2">
                                            <div class="text">
                                                <p class="font_family_poppins mb_25"><ul>
                                                    <li><strong>Schools and universities:</strong> Educational and training software can be used to enhance traditional
                                                        classroom learning and provide online learning options for students.</li>
                                                    <li><strong>Corporations and businesses:</strong> Educational and training software can be used to train and develop
                                                        employees, improve job performance and promote professional development.</li>
                                                    <li><strong>Government organizations:</strong> Educational and training software can be used to train and develop
                                                        employees, improve job performance and promote professional development.</li>
                                                    <li><strong>Non-profit organizations:</strong> Educational and training software can be used to improve the skills
                                                        and knowledge of volunteers and staff.</li>
                                                    <li><strong>Individual learners:</strong> Educational and training software can be used by individuals to improve
                                                        their skills and knowledge, advance their careers or pursue personal interests.</li>
                                                </ul>

 </p>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="two-column p_relative d_block mb_40">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                                        <div class="text">
                                            <h3 class="d_block fs_30 lh_40 fw_sbold mb_25">Great Support</h3>
                                            <p class="font_family_poppins mb_25"><p><ul>
                                                <li>24/7 customer support available</li>
                                                <li>Online resources such as tutorials and user guides</li>
                                                <li>Remote assistance for quick and efficient troubleshooting</li>
                                                <li>Dedicated team of experts to provide support and assistance whenever needed.</li>
                                            </ul> </p>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-details -->


        <!-- footer-three -->
        <footer class="footer-three p_relative service-page">
            <div class="pattern-layer">
                <div class="pattern-1 p_absolute l_0 b_0" data-parallax='{"x": 100}'
                    style="background-image: url(assets/images/shape/shape-62.png);"></div>
                <div class="pattern-2 p_absolute r_0 b_0" data-parallax='{"x": 100}'
                    style="background-image: url(assets/images/shape/shape-63.png);"></div>
            </div>
            <div class="auto-container">
                <div class="footer-widget-section">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget about-widget wow fadeInUp animated" data-wow-delay="00ms"
                                data-wow-duration="1500ms">
                                <figure class="footer-logo p_relative d_block mb_35"><a href="index-3.html"><img
                                            src="assets/images/logo-4.png" alt=""></a></figure>
                                <div class="text">
                                    <p>Naseem Al-Roudha</p>
        
                                </div>
                            </div>
                        </div>
                        <div class=" footer-column">
                            <div class="footer-widget links-widget wow fadeInUp animated" data-wow-delay="400ms"
                                data-wow-duration="1500ms">
                                <div class="widget-title">
                                    <h4>Services</h4>
        
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
        
        
                                        <li><a href="service-01.html">Computer Systems & Communication Equipment
                                                Software Design
                                            </a></li>
        
                                        </li>
                                        <li><a href="service-02.html">Education & Training Computer Software</a></li>
        
                                        <li><a href="service-03.html">Social Media Applications Development &
                                                Management</a>
                                        </li>
        
                                        <li><a href="service-04.html">Marketing Services Via social media</a></li>
        
        
                                        <li><a href="service-05.html">IT Infrastructure</a></li>
        
                                        <li><a href="service-06.html">Information Technology</a></li>
        
                                        <li><a href="service-07.html">Computer Systems Housing Services</a></li>
        
        
        
        
        
        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget wow fadeInUp animated" data-wow-delay="600ms"
                                data-wow-duration="1500ms">
                                <div class="widget-title">
                                    <h4>Contacts</h4>
                                     </div>
                                        <div class="widget-content">
                                            <ul class="info-list clearfix">
                                                <li>ZALFA BUILDING,OFFICE NO.207 2nd Floor,Al GARHOUD,DUBAI P O BOX:85071</li>
        
                                                <li><a href="tel: 971567207493">+971 56 720 7493</a></li>
                                                <li><a href="mailto:info@exceeditllc.com">info@exceeditllc.com</a></li>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="auto-container">
                        <div class="bottom-inner clearfix">
                            <div class="copyright pull-left">
                                <p><a href="index.html">Naseem Al-Roudha</a> &copy; 2023 All Right Reserved</p>
                            </div>
                            <ul class="footer-nav clearfix pull-right">
                                <li><a href="index.html">Terms of Service</a></li>
        
                                <li><a href="index.html">Privacy Policy</a></li>
        
                            </ul>
                        </div>
                    </div>
                </div>
        </footer>
        <!-- footer-three end -->



        <!--Scroll to top-->
        <div class="scroll-to-top">
            <div>
                <div class="scroll-top-inner">
                    <div class="scroll-bar">
                        <div class="bar-inner"></div>
                    </div>
                    <div class="scroll-bar-text g_color_2">Go To Top</div>
                </div>
            </div>
        </div>
        <!-- Scroll to top end -->
    </div>


    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/scrollbar.js"></script>
    <script src="assets/js/parallax.min.js"></script>
    <script src="assets/js/circle-progress.js"></script>
    <script src="assets/js/jquery.countTo.js"></script>
    <script src="assets/js/nav-tool.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.paroller.min.js"></script>
    <script src="assets/js/parallax-scroll.js"></script>

    <!-- main-js -->
    <script src="assets/js/script.js"></script>

</body><!-- End of .page_wrapper -->

</html>